# ---- Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual envs
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.env
.env.*

# ---- Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
.cache/
.jest/

# ---- Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# ---- Docker
*.tar
**/.dockerignore

# ---- Misc / apps
*.log
*.sqlite3

# ---- Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
.cache/
.jest/