# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
.tox/
.nox/
.venv/
venv/
ENV/
.env
.env.*

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
.jest/
.cache/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Docker
*.tar

# Logs / misc
*.log
*.sqlite3
